html {
	background-color:gray;
	text-align:justify;
}
body {
	width:960px;
	margin:auto;
}
.block{
	background-color:white;
	border-radius:15px;
	margin:0px;
	padding: 10px;
}
header{
  height:130px;
 }
header #logo{
   float: left;
   position: relative;
  }
  header h1{
   margin: 40px;
   float: none;
  }
  header nav{
    margin: 35px 200px 0;
  }
header ul{
   margin-bottom: 0px;
   position: auto;
   list-style-type: none;
  }
header ul li{
   float:left;
   margin: 0 20px 0 0;
  }
header ul li ul {
	display:none;
}
li:hover ul{
	display: block;
	position: fixed;
} 
header ul li ul li {
    float: none;
   }
main {
	font-family:arial;
}
aside{
	background-color:gray;
	border-radius:15px;
	padding:10px;
	float:right;
	width:32%;
}
p{
	margin-bottom:0px;
}
#calculator table{
	border-style:none;
   margin: auto;
   align: center;
  }
 #calculator button{
  width: 75px;
  height: 30px;
 }
 #calculator input{
  width: 99%;
  height: 100%;
 }
 #calculator #znacRavno{
  height: 65px;
 }
 #calculator #zero{
	 width:155px;
 }
footer {
	text-align:center;
}